* {
    box-sizing: border-box;
  }
  body{
    margin: 0px;
    padding: 0px;
  }
  ul,li{
    padding: 0px;
    margin: 0px;
  }
  li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
  }
.trie {
  border: 3px solid black;
}
  .main-container {
    display: flex;
    height: 100%;   
    flex-direction: column; 
  }
  .header{
    display: flex;
    height: 90px;
    flex: 1;
    background-color: #1f2937;
    padding: 8px 200px;
  }
  .header-logo{
    display: flex;
    align-items: center;
    
  }
  .header-links{
    display: flex;
    margin-left: auto;
  }
  .title-img{ 
    max-height: 80px;
  }
  .header-title{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
  }
  .navigator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .title-header{
    display: flex;
    min-height: 400px;
    justify-content: center;
    background-color: #1f2937;
    justify-content: center;
    padding: 75px 200px;
  }
  .title-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-right: 32px;
    align-items: flex-start;
  }
  .title-image{
    display: flex; 
    flex: 1.1;
    justify-content: flex-start;
    align-items: center;
    
  }
  .header-img{
    background-color: #55657a;
    
    flex: 0 1 auto;
    height: 250px;
    min-width: 100%;
  }
  .main-title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
  }
  .content{
    font-size: 18px;
    color: #e5e7eb;
  }
  .title-button{
    background-color: #3882f6;
    padding: 8px 24px;
    color: white;
    border: 0px;
    border-radius: 5%;
  }
  .title-button:hover{
    background-color: #5194ff;
  }


  .main-content{
    display: flex;
    padding: 30px 200px;
    min-height: 500px;
    flex-direction: column;
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
  }
  .content-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
  }
  .cards-container{
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  .card-img{
    flex: 0;
    border: #3882f6 3px solid;
    border-radius: 10%;

    display: flexbox;
    width: 134px;
  }
  .card-content{
    text-align: center;
    color: #1f2937e3;
  }

  .quote-section{
    min-height: 300px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;

  }
  .quote{
    padding-left: 30px;
    font-size: 32px;
    color: #1f2937;
    font-weight: lighter;
  }
  .quoter{
    font-weight: bolder;
    font-size: 16px;
    font-weight: bolder;
    text-align: right;
  }
  .action-section{
    height: 200px;
    display: flex;
    padding: 30px 200px;
    
  }
  .action-container{
    flex: 1;
    margin: 0px;
    background-color: #5194ff;
        color: #e5e7eb;
    border-radius: 10px;
    padding: 12px 30px;
    display: flex;
    
    align-items: center;
  }
  .action-button{
    margin-left: auto;
    margin-right: 30px;
    background-color: #5194ff;
    border: #e5e7eb solid;
    border-radius: 5px;
    color: white;
  }
  .action-button:hover{
  background-color: #3882f6;
  }

  .footer{
    background-color: #1f2937;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-text{
    display: flex;
    color: #f9faf8;
  }